@import "tailwindcss";

.container{
  @apply !max-w-7xl !mx-auto px-3 md:mx-4
}

@theme inline {
    --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-popin: var(--font-poppin);
  --font-figtree: var(--font-figtree);
  --color-primary: #E20101;
  --color-black: #121212;

  --color-danger: #D34053;
  --color-warning: #FFA70B;
  --color-form: #fffbfb;

  --color-stroke: #E2E8F0;
  --color-boxdark: #24303F;
  --color-strokeinput: #BBBBBB;
  --color-strokedark: #3f3f46;

}

.otpinputStyle {
  @apply !w-8 md:!w-12 h-8 md:h-12 mx-1 md:mx-2 font-figtree font-medium border !border-stroke duration-200 rounded-sm text-black outline-none bg-transparent text-lg md:text-xl
}