@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container{
  @apply !max-w-7xl !mx-auto px-3 md:mx-4
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-popin: var(--font-poppin);
  --font-figtree: var(--font-figtree);
  --color-primary : #E20101;
}

